ExamenDilanOsvaldoMunozVelez/SolucionCajaPopular/CajaPopularHidalgo/Connected Services/WcfCajaPopular/ClienteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64280/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioCajaPopular" />
  <xs:import schemaLocation="http://localhost:64280/ClienteService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServicioCajaPopular.Modelo" />
  <xs:element name="BuscarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioCajaPopular" minOccurs="0" name="BuscarClienteResult" nillable="true" type="q1:RespuestaClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicioCajaPopular.Modelo" minOccurs="0" name="DatosCliente" nillable="true" type="q2:Cliente" />
        <xs:element minOccurs="0" name="monto" type="xs:float" />
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicioCajaPopular" minOccurs="0" name="AgregarClienteResult" nillable="true" type="q3:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicioCajaPopular.Modelo" minOccurs="0" name="DatosCliente" nillable="true" type="q4:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServicioCajaPopular" minOccurs="0" name="ModificarClienteResult" nillable="true" type="q5:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServicioCajaPopular" minOccurs="0" name="EliminarClienteResult" nillable="true" type="q6:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>