ExamenDilanOsvaldoMunozVelez/SolucionCajaPopular/CajaPopularHidalgo/Connected Services/WcfCajaPopular/ClienteService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioCajaPopular.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioCajaPopular.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
</xs:schema>